@import "theme/constants.module.scss";
@import "theme/mixins.scss";

.home-container {
  padding: 0px $padding-homeContainerPadding;
  background-color: $color-primary-cream;
  height: 100%;
}

.hide {
  visibility: hidden;
}
