@import "theme/constants.module.scss";
@import "theme/mixins.scss";

.carousel-image {
  cursor: none;
}

.custom-cursor {
  z-index: 100;
  position: absolute;
  @include fontSize-desktop-medium;
  color: white;
}
