@import "theme/constants.module.scss";
@import "theme/mixins.scss";

.empty-scroll-block {
  background-color: $color-primary-cream;
  height: 70vh;
  width: 100%;
}

.txo-logo {
  margin-top: 2em;
  width: 35em;
  position: absolute;
  z-index: 1000;
  padding-left: $padding-homeContainerPadding;
}
