@import "theme/constants.module.scss";
@import "theme/mixins.scss";

//------- MEDIA QUERIES ---------

//------- MOBILE

@media screen and (min-width: $media-query-mobile) {
  .third-way-logo {
    position: absolute;
    margin-top: -5em;
    margin-left: -0.3em;
    width: 13em;
  }

  .footer-block {
    padding-bottom: $padding-homeContainerPadding-mobile - 10px;
    ul {
      margin-left: -2em;
      gap: 6em;
    }
    @include fontSize-mobile-tiny;
  }

  .terms-and-conditions {
    margin-right: -1.4em;
  }

  .privacy-policy {
    margin-right: 2em;
  }

  .cookie-policy {
    margin-right: 2.8em;
  }
}

//------- DESKTOP

@media screen and (min-width: $media-query-desktop) {
  .third-way-logo {
    position: relative;
    margin-top: 0em;
    margin-left: -0.3em;
    width: 10em;
  }

  .footer-block {
    padding-bottom: $padding-homeContainerPadding-desktop - 10px;
    @include fontSize-desktop-small;

    ul {
      gap: 6em;
    }
  }

  .terms-and-conditions {
    margin-right: -1.4em;
  }

  .privacy-policy {
    margin-right: 2em;
  }

  .cookie-policy {
    margin-right: 2.8em;
  }
}

//-------

.footer-block {
  display: flex;
  justify-content: space-between;
  color: $color-primary-bark;
  padding-right: 10em;
  align-items: center;

  ul {
    display: flex;
    list-style: none;
  }

  li {
    @include defaultHoverTransition;
  }

  li:hover {
    color: $color-primary-bark-hover;
  }
}
