@import "theme/constants.module.scss";
@import "theme/mixins.scss";

//------- MEDIA QUERIES ---------

//------- MOBILE

@media screen and (min-width: $media-query-mobile) {
  .form-block {
    margin-bottom: 485px;
  }
  .form-block form {
    margin-left: -10px;

    button {
      padding: 0px;
      padding-left: 6px;
      margin-top: 50px;
    }
  }

  .full-name {
    margin-top: -0.1em;
    margin-bottom: -0.19em;
  }

  .company-name {
    margin-top: -0.08em;
    margin-bottom: -0.05em;
  }

  .email-address {
    margin-top: -0.09em;
    margin-bottom: -0.14em;
  }

  .form-block h1 {
    @include fontSize-mobile-big;
  }
  .stay-updated {
    @include fontSize-mobile-small-plus;
    margin-bottom: 0.4em;
  }
  .form-block input {
    @include fontSize-mobile-big;
  }
  .form-block button {
    @include fontSize-mobile-medium;
  }
}

//------- DESKTOP

@media screen and (min-width: $media-query-desktop) {
  .form-block {
    margin-bottom: 110px;
  }

  .form-block form {
    margin-left: -10px;

    button {
      padding-left: 10px;
      margin-top: 58px;
    }
  }

  .full-name {
    margin-top: -0.06em;
    margin-bottom: -0.19em;
  }

  .company-name {
    margin-top: -0.05em;
    margin-bottom: -0.05em;
  }

  .email-address {
    margin-top: -0.05em;
    margin-bottom: -0.05em;
  }

  .form-block h1 {
    @include fontSize-desktop-big;
  }

  .stay-updated {
    @include fontSize-desktop-small-plus;
    // margin-left: 0.2em;
    margin-bottom: 0.5em;
  }
  .form-block input {
    @include fontSize-desktop-big;
  }
  .form-block button {
    @include fontSize-desktop-medium;
  }
}

.form-block {
  margin-top: 220px;

  * {
    color: $color-primary-bark;
    background-color: $color-primary-cream;
    border: 0;
  }

  h1 {
    margin: 0px;
    font-weight: 400;
    // margin-bottom: 20px;
  }

  form {
    // margin-top: -0.4em;
    display: flex;
    gap: 0em;
    flex-direction: column;
  }

  input {
    outline-width: 0;
    border: 0;
    padding: 0px;
    vertical-align: middle;
  }

  input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-primary-bark;
    opacity: 0.3; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-primary-bark;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-primary-bark;
  }

  button {
    width: fit-content;
    outline-width: 0;
    @include defaultHoverTransition;
  }

  button:hover {
    color: $color-primary-bark-hover;
  }
}
