@import "theme/constants.module.scss";
@import "theme/mixins.scss";

//------- MEDIA QUERIES ---------

//------- MOBILE

@media screen and (min-width: $media-query-mobile) {
  .header-items {
    @include fontSize-mobile-small;
  }
}

//------- DESKTOP

@media screen and (min-width: $media-query-desktop) {
  .header-items {
    @include fontSize-desktop-small;
  }
}

.header-items {
  z-index: 100;
  color: $color-primary-bark;
  position: fixed;
  gap: 3em;
  background-color: $color-primary-cream;
  width: 100%;
  padding-top: $padding-homeContainerPadding;
  padding-bottom: $padding-homeContainerPadding;
  justify-content: flex-end;
  display: flex;

  ul {
    margin: 0px;
  }

  li {
    list-style: none;
  }
}

.header-items ul li:nth-child(1) {
  padding-bottom: 8%;
}

.header-items ul:nth-child(4) {
  padding-right: 10em;
}
