@import "theme/constants.module.scss";
@import "theme/mixins.scss";

//------- MEDIA QUERIES ---------

//------- MOBILE

@media screen and (min-width: $media-query-mobile) {
  .hero-block {
    width: 100%;
  }

  .hero-subsection {
    margin-left: 0%;
    width: 100%;
  }
  .hero-subtitle {
    @include fontSize-mobile-small;
  }
  .hero-paragraph {
    @include fontSize-mobile-medium;
  }
  .hero-title {
    @include fontSize-mobile-big;
  }
}

//------- DESKTOP

@media screen and (min-width: $media-query-desktop) {
  .hero-block {
    width: 90%;
  }

  .hero-subsection {
    margin-left: 40.5%;
    width: 50%;
  }
  .hero-subtitle {
    @include fontSize-desktop-small;
  }
  .hero-paragraph {
    @include fontSize-desktop-medium;
  }
  .hero-title {
    @include fontSize-desktop-big;
  }
}

//------- ALL DEVICES ---------

.hero-block {
  color: $color-primary-bark;
  margin-bottom: 7em;
  padding-top: 500px;
}

.hero-subsection {
  margin-top: 90px;
}

.hero-title {
  margin: 0px;
  font-weight: 400;
}

.hero-subtitle {
  margin: 0px;
  margin-bottom: 16px;
}

.hero-paragraph {
  margin: 0px;
}
