@import "theme/constants.module.scss";
@import "theme/mixins.scss";

//------- MEDIA QUERIES ---------

//------- MOBILE

@media screen and (min-width: $media-query-mobile) {
  .image-info-block {
    @include fontSize-mobile-small;
  }
  .image-info-column {
    padding: 10px 0px;
  }
  .image-info-row {
    div {
      padding: 14px 0px;
    }
  }
}

//------- DESKTOP

@media screen and (min-width: $media-query-desktop) {
  .image-info-block {
    @include fontSize-desktop-medium;
  }

  .image-info-column {
    padding: 20px 0px;
  }

  .image-info-row {
    div {
      padding: 20px 0px;
    }
  }
}

.mobile-bottom-row {
  @include fontSize-mobile-small;
}

.image-info-block {
  color: $color-primary-bark;
  display: flex;
  flex-direction: column;
  margin-top: 0.26em;
  div {
    margin: 0px;
  }
}

.image-info-row {
  display: flex;
  justify-content: space-between;

  div {
    // padding: 20px 0px;
    width: 50%;
  }
}
.image-info-row-short {
  div {
    width: 49.4%;
    border-bottom: 1px solid $color-primary-bark;
  }
}

.image-info-row-long {
  border-bottom: 1px solid $color-primary-bark;
  div {
    width: 49.4%;
  }
}

.read-more {
  margin-top: 0.6em;
  opacity: $opacity-default;
  @include defaultHoverTransition;
}

.read-more:hover {
  opacity: 1;
}
