// ----------- COLORS -----------

$color-primary-bark: #736357;
$color-primary-cream: #f9f5ef;

// ----------- FONT SIZE -----------

$fontSize-desktop-small: 16px;
$fontSize-desktop-medium: 45px;
$fontSize-desktop-big: 144px;

$fontSize-mobile-small: 10px;
$fontSize-mobile-medium: 18px;
$fontSize-mobile-big: 72px;

// ----------- LINE HEIGHT -----------

$lineHeight-desktop-small: 18px;
$lineHeight-desktop-medium: 45px;
$lineHeight-desktop-big: 138px;

$lineHeight-mobile-small: 10px;
$lineHeight-mobile-medium: 19px;
$lineHeight-mobile-big: 69px;

// ----------- LETTER SPACING -----------

$letterSpacing-desktop-small: -0.045em;
$letterSpacing-desktop-medium: 0em;
$letterSpacing-desktop-big: -0.05em;

$letterSpacing-mobile-small: -0.045em;
$letterSpacing-mobile-medium: 0em;
$letterSpacing-mobile-big: -0.05em;

// ----------- TRANSITIONS -----------

$transitions-defaultTransition: 0.2s;

// ----------- PADDING -----------

$padding-homeContainerPadding: 31px;

// ----------- OPACITY -----------

$opacity-default: 0.3;

// ----------- MEDIA QUERIES -----------

$media-query-desktop: 1224px;
$media-query-tablet: 768px;
$media-query-mobile: 480px;

:export {
  desktopWidth: $media-query-desktop;
  tabletWidth: $media-query-tablet;
  mobileWidth: $media-query-mobile;
}
