// ----------- COLORS -----------

$color-primary-bark: #736357;
$color-primary-bark-hover: #584c42;
$color-primary-cream: #f9f5ef;

// ----------- FONT SIZE -----------

$fontSize-desktop-tiny: 14px;
$fontSize-desktop-small: 18px; // original spec: 16px
$fontSize-desktop-small-plus: 29px;
$fontSize-desktop-medium: 40px; // original spec: 45px;
$fontSize-desktop-big: 132px; // original spec:  144px;

$fontSize-mobile-tiny: 15px;
$fontSize-mobile-small: 20px;
$fontSize-mobile-small-plus: 20px;
$fontSize-mobile-medium: 43px;
$fontSize-mobile-big: 134px;

// ----------- LINE HEIGHT -----------

$lineHeight-desktop-tiny: 18px;
$lineHeight-desktop-small: 18px; // original spec: 18px
$lineHeight-desktop-small-plus: 18px; // original spec: 18px
$lineHeight-desktop-medium: 42px; // original spec: 45px
$lineHeight-desktop-big: 122px; // original spec: 138px

$lineHeight-mobile-tiny: 10px;
$lineHeight-mobile-small: 27px;
$lineHeight-mobile-small-plus: 10px;
$lineHeight-mobile-medium: 49px;
$lineHeight-mobile-big: 134px;

// ----------- LETTER SPACING -----------

$letterSpacing-desktop-tiny: -0.03em;
$letterSpacing-desktop-small: -0.03em; // original spec: -0.045em;
$letterSpacing-desktop-small-plus: -0.045em;
$letterSpacing-desktop-medium: -0.05em; // original spec: 0em;
$letterSpacing-desktop-big: -0.075em; // original spec: -0.05em;

$letterSpacing-mobile-tiny: -0.045em;
$letterSpacing-mobile-small: -0.045em;
$letterSpacing-mobile-small-plus: -0.045em;
$letterSpacing-mobile-medium: -0.01em;
$letterSpacing-mobile-big: -0.07em;

// ----------- TRANSITIONS -----------

$transitions-defaultTransition: 0.2s;

// ----------- PADDING -----------

$padding-homeContainerPadding-desktop: 31px;
$padding-homeContainerPadding-mobile: 31px;

// ----------- OPACITY -----------

$opacity-default: 0.3;

// ----------- MEDIA QUERIES -----------

$media-query-desktop: 1224px;
$media-query-tablet: 768px;
$media-query-mobile: 480px;

:export {
  desktopWidth: $media-query-desktop;
  tabletWidth: $media-query-tablet;
  mobileWidth: $media-query-mobile;
}

// ----------- MOBILE ICON BUTTON -----------

$mobile-icon-button-gap: 24px;

// ----------- HEADER HEIGHT -----------

$header-height: 10em;
