// ----------- COLORS -----------

$color-primary-bark: #736357;
$color-primary-cream: #f9f5ef;

// ----------- FONT SIZE -----------

$fontSize-desktop-nav: 16px;
$fontSize-desktop-intro: 45px;
$fontSize-desktop-hero: 144px;

$fontSize-mobile-footer: 10px;
$fontSize-mobile-intro: 18px;
$fontSize-mobile-hero: 72px;

// ----------- LINE HEIGHT -----------

$lineHeight-desktop-nav: 18px;
$lineHeight-desktop-intro: 45px;
$lineHeight-desktop-hero: 138px;

$lineHeight-mobile-footer: 10px;
$lineHeight-mobile-intro: 19px;
$lineHeight-mobile-hero: 69px;

// ----------- LETTER SPACING -----------

$letterSpacing-desktop-nav: -0.045em;
$letterSpacing-desktop-intro: 0em;
$letterSpacing-desktop-hero: -0.05em;

$letterSpacing-mobile-footer: -0.045em;
$letterSpacing-mobile-intro: 0em;
$letterSpacing-mobile-hero: -0.05em;

// ----------- TRANSITIONS -----------

$transitions-defaultTransition: 0.2s;

// ----------- PADDING -----------

$padding-homeContainerPadding: 31px;

// ----------- OPACITY -----------

$opacity-default: 0.3;

// ----------- MEDIA QUERIES -----------

$media-query-desktop: 1224px;
$media-query-tablet: 768px;
$media-query-mobile: 480px;

:export {
  desktopWidth: $media-query-desktop;
  tabletWidth: $media-query-tablet;
  mobileWidth: $media-query-mobile;
}
