@import "theme/constants.module.scss";
@import "theme/mixins.scss";

.header {
  color: $color-primary-bark;

  font-size: $fontSize-desktop-nav;
  gap: 3em;
  background-color: $color-primary-cream;
  width: 100%;
  padding-top: $padding-homeContainerPadding;
  padding-bottom: $padding-homeContainerPadding;
  justify-content: flex-end;
  line-height: $lineHeight-desktop-nav;
  letter-spacing: $letterSpacing-desktop-nav;
  display: flex;
  position: fixed;

  ul {
    margin: 0px;
  }

  li {
    list-style: none;
  }
}

.header ul li:nth-child(1) {
  padding-bottom: 8%;
}

.header ul:nth-child(4) {
  padding-right: $padding-homeContainerPadding;
}
